* {
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
.row {
    width: 100%;
}
.row:before, 
.row:after {
    content: "";
    display: table;
    clear: both;
}
.container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto 10px;
    box-shadow: 0 0 1em #666;
    padding: 15px;
}
/* header styles ******************************/
.header {
    background: #0038A8;
    width: 100%;
    float: left;
}
.header img {
    float: left;
    margin: auto;
    padding: 10px;
}
.header a {
    text-decoration: none;
    color: white;
}
.header a:hover {
    text-decoration: underline;
}
.header ul {
    padding-right: 10px;
    display: inline;
}
.header li {
    float: left;
    display: inline;
    padding: 4px;
    width: auto;
    margin: 5% 1%;
    border: solid white 2px;
    border-radius: 25%;
    background-color: #CE1126;
}
.up-to-date p{
    margin: 0;
}
.up-to-date {
    padding: 10px 10px 0 0;
    float: right;
    font-size: 12px;
    color: white;
}

/* home main styles ********************************/
.home_main {
    width: 66%;
    float: left;
    margin-top: 15px;
    padding: 10px;
}
.home_main article{
    border: blue 1px solid;
    padding: 10px;
    margin: 5px;
}
.home_main article p {
    display: block;
    padding: 45px;
}
.home_main article img {    
    float: left;
    padding: 10px;
}
/* about main styles *************************/
.about_main {
    padding: 15px;
}
.about_main .title {
    margin-top: 160px;
}
.about_main h2 {
    margin-top: 15px;
    text-align: center;
    text-decoration: underline;
}
.about_main img {
    width: 100%;
    margin-top: 15px;
}
/* Calendar styles ***************************/
.schedule_main table {
    border: 1px black solid;
    width: 100%;
}

.schedule_main td {
    border: 1px black solid;
    margin: 0;
    height: 200px;
    width: 14.3%;
    text-align: center;
}
.schedule_main .away{
    background-color: #CE1126;
    color: white;
}
.schedule_main .home {
    background-color: #0038A8;
    color: white
}
.schedule_main p {
    float: left;
    position:relative;
    top: -80px;
    left: 5px;
    font-weight: bolder;
    font-size: 1.5em;
}
.schedule_main img {    /* Maybe add team img if I can figure out how to format right*/    
    display: none;
}

/* aside styles ******************************/
aside {
    margin: 30px auto;
    float: right;
}
aside img{
    float: right;
    width: ;
}

/* roster styles ******************************/

table td{
    border: 1px black solid;
    margin: 0;
    height: 100px;
    width: 15%;
    text-align: center;
}
.third {
    float: left;
    margin: 25px;
    width: 30%;
    margin: 1.5%;
}
.forwards td{
    width: 33%;
}
/* enlarge lundqvist's logo when hovered over */
.goalies img{
    transition: transform .2s;
    
}
.goalies img:hover{
    transform: scale(1.5);
}
/* news styles ********************************/
.news .story1{
    margin-top: 150px;
}
.news article {
    padding: 15px;
}
.news img{
    transition: transform .2s;
    width: auto;
    height: 150px;
}
.news img:hover{
    transform: scale(3);
}

/* footer styles ******************************/
footer {
    background: lightgray;
    text-align: center;
    padding: 1px;
    color: black;
    clear: both;
}